<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268011527750-l0bfmiqoa6fp2cmprst0gk1cgj1uiisg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268011527750-l0bfmiqoa6fp2cmprst0gk1cgj1uiisg</string>
	<key>API_KEY</key>
	<string>AIzaSyCh_NDxh4xhM3mLslThk0XXU9Ghcb7Zn3E</string>
	<key>GCM_SENDER_ID</key>
	<string>268011527750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shahad.CreateAccount</string>
	<key>PROJECT_ID</key>
	<string>createaccount-6770f</string>
	<key>STORAGE_BUCKET</key>
	<string>createaccount-6770f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268011527750:ios:8305c768d92e0ce78df447</string>
</dict>
</plist>